{% extends 'base.html.twig' %}

{% block title %}Mes adresses{% endblock %}

{% block body %}
    <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right">Ajouter une adresse</a>
    <h1>Mes adresse de livraison :</h1>
    <p>C'est ici que vous pouvez validez votre adresse de livraison.</p>
    
    <hr class="w-75 mx-auto mt-3 mb-3 bg-secondary">
    <a href="{{ path('account') }}">Retour à mon compte</a><br>

    {% if app.user.addresses|length == 0 %}

    <p class="text-center">Vous n'avez pas ajouter d'adresse pour la livraison dans votre compte client. Pour en ajouter une, veuillez <a href="{{ path('account_address_add') }}"> cliquer ici.</a></p>

    {% else %}

    {#{% if notification %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <p class="text-center">{{notification}}</p>
        </div>    
    {% endif %}

    {% if notificationError %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <p class="text-center">{{notificationError}}</p>
        </div>    
    {% endif %}

    {{form(form)}}#}
    {% endif %}
{% endblock %}
